@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background Images */
.bgimg1 {
  background-image: url('src/assets/image/imgi_141_banner-2.png');
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg2 {
  background-image: url('src/assets/image/imgi_9_grid-three-1.png');
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg3 {
  background-image: url('src/assets/image/imgi_10_grid-three-3.png');
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg4 {
  background-image: url('src/assets/image/imgi_11_grid-three-2.png');
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg5 {
  background-image: url('src/assets/image/imgi_143_wide-banner.png');
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg6 {
  background-image: url('src/assets/image/imgi_31_col-5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg6:hover {
  scale: (1.2);
}

.bgimg7 {
  background-image: url('src/assets/image/imgi_143_wide-banner.png');
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg8 {
  background-image: url('src/assets/image/imgi_143_wide-banner.png');
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg9 {
  background-image: url('src/assets/image/imgi_143_wide-banner.png');
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg10{
  background-image: url("src/assets/image/col-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
  padding: 0px;
}

/* Height */
.h1 {
  height: 100%;
  width: 100%;
}

/* Box */
.box1 {
  height: 250px;
  width: 250px;
}

.image-box{
  height: 300px;
  width: 300px;
}
.image1 {
	width: 100%;
  height: 300px;
	background: url("src/assets/image/five-col-banner-1.png");
	background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}  

.image2 {
	width: 100%;
  height: 300px;
	background: url("src/assets/image/five-col-banner-2.png");
	background-position:center;
  background-size: cover;
} 

.image3 {
	width: 100%;
  height: 300px;
	background: url("src/assets/image/five-col-banner-3.png");
	background-position:center;
  background-size: cover;
} 

.image4 {
	width: 100%;
  height: 100%;
	background: url("src/assets/image/five-col-banner-4.png");
	background-position:center;
  background-size: cover;
}

.image5 {
	width: 100%;
  height: 100%;
	background: url("src/assets/image/five-col-banner-5.png");
	background-position:center;
  background-size: cover;
}

/* gradiant-background-color */
.gcolor{
  background: linear-gradient(to right, #9b5de5, #f15bb5);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}